= content_for :title, "Genielets – Our About Us Page"
= content_for :description, "Learn about our amazing journey, our company Genielets, the rent collection system and our friendly staff"
%section.colon14
  .singleheader
    .container
      .col-lg-6.col-sm-6.col-md-6
        .single-title
          %h3 About Us
          %h4 Who we are and what we love doing
      .col-lg-6.col-sm-6.col-md-6
        .breadcrumb-container
          %ul.breadcrumb
            %li OUR STORY AND OUR MISSION
    .shadow
  / START CONTENT AND SIDEBAR
  .container.general
    #content.single.col-lg-12.col-md-12.col-sm-12
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-left"}
        = image_tag 'GenieLets-rightmove-Middle-Rightmove-find-a-property-property-news-flatshare-students-property-to-rent-commercial-property-letting-agents-estate-agents.png', :alt => "Rent collection"
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-bottom"}
        %h2.general-title.text-center
          %span Finally, it’s the application that landlords and tenants have been waiting for!
        %p Our simple to use, ‘genius’ GenieLets application is a web based rent collection system designed to make property management easy for private and social landlords, estate/lettings agencies and commercial rental management companies.
        %p With GenieLets, landlords with multiple properties and tenants can keep in control of contracts and payments, whilst tenants can make payments quickly and conveniently.
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-right"}
        %h2.general-title.text-center
          %span Our mission at GenieLets is about using technology to make life simpler for our users
        %p GenieLets is brought to you by GenieBytes, an innovative new company that believes in utilising software and modern mobile technologies to enhance quality of life for people with busy lifestyles.
        %p By using technology to tackle real-life issues, we want to alleviate the problems that can arise when managing properties by using less reliable and unsophisticated rent management systems and processes.
      .clearfix
    .col-lg-12.text-center
      = image_tag 'about2-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Genielets"
      = image_tag 'about3-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Lettings agencies"
      = image_tag 'about4-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Social landlords"
      = image_tag 'about5-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Genielets"
      = image_tag 'about6-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Lettings agencies"
    .clearfix