= content_for :title, "Holiday lettings, houses to rent & manage, more great features"
= content_for :description, "Holiday lettings can be distant, commercial property to rent can be volume, residential property can be multi let, why our features are great"
%section.colon14
  .singleheader
    .container
      .col-lg-6.col-sm-6.col-md-6
        .single-title
          %h3 Features
          %h4 Features Fantastic features are key to the success of GenieLets
      .col-lg-6.col-sm-6.col-md-6
        .breadcrumb-container
          %ul.breadcrumb
            %li AN EASY AND EFFICIENT SYSTEM FOR LANDLORDS AND TENANTS
    .shadow
  / START CONTENT AND SIDEBAR
  .container.general
    #content.single.col-lg-12.col-md-12.col-sm-12
      .message.text-center
        %h2 FANTASTIC FEATURES ARE KEY TO THE SUCCESS OF GENIELETS
        %p
          Making life simpler for landlords, property management agencies and tenants is our goal. That’s why GenieLets have introduced some great features through our easy, quick and secure system:
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-bottom"}
        .custom-box
          .icn-main-container
            %p.center
              %span.icn-container
                = image_tag 'calculator.png', :alt => "Holiday lettings"
          %h3 Managing Payment
          %ul
            %li Receive rental payments
            %li Determine which tenants have or haven’t paid on time
            %li Send reminders to late payers
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-bottom"}
        .custom-box
          .icn-main-container
            %p.center
              %span.icn-container
                = image_tag 'mobile.png', :alt => "residential property"
          %h3 Decision Making
          %ul
            %li Landlords can analyse a vast amount of data on their tenants, thereby aiding the decision on whether to renew their tenancy agreement
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-bottom"}
        .custom-box
          .icn-main-container
            %p.center
              %span.icn-container
                = image_tag 'tenant.png', :alt => "commercial property"
          %h3 Especially for Tenants
          %ul
            %li Use Paypal to make convenient payments
            %li Choose your preferred payment method
            %li Set-up recurring, regular payments
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-bottom"}
        .custom-box
          .icn-main-container
            %p.center
              %span.icn-container
                = image_tag 'landlord.png', :alt => "Tenancy agreement"
          %h3 Especially for Landlords and Property Management specialists
          %ul
            %li Add and manage multiple contracts easily
            %li View and analyse property history at a glance
            %li Input and edit any property information
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-bottom"}
        .custom-box
          .icn-main-container
            %p.center
              %span.icn-container
                = image_tag 'financial.png'
          %h3 Financial Analysis and Reporting
          %ul
            %li Monitor payment schedules, tenancy agreements and contracts; to assess the financial performance of your property investment
            %li Calculate and analyse monthly rental income and mortgage payments
            %li Tenants can access their payment history too
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-bottom"}
        .custom-box
          .icn-main-container
            %p.center
              %span.icn-container
                = image_tag 'fweb.png'
          %h3 Web App
          %ul
            %li Sign up and manage your GenieLets account from a computer of your choice
            %li Manage multiple accounts via one easy to use application
      .clearfix
    .col-lg-12.text-center
      = image_tag 'features2-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;"
      = image_tag 'features3-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;"
      = image_tag 'features4-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;"
      = image_tag 'features5-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;"
      = image_tag 'features6-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;"
      .clearfix
    