= content_for :title, "Property news – Genielets the rent management software"
= content_for :description, "Property news, property to rent - pay your rent online, for residential, commercial lettings, great for estate agents, letting agents, landlords & tenants too"
%section.colon1
  .tp-banner-container
    .tp-banner
      %ul
        %li{"data-masterspeed" => "1500", "data-slotamount" => "7", "data-transition" => "fade"}
          = image_tag 'demos/SliderBG-02-Genielets-geniebytes-rightmove-zoopla-rentshare.png', :alt => "Property news", html: {"data-bgfit" => "cover", "data-bgposition" => "left top", "data-bgrepeat" => "no-repeat"}
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "40", "data-speed" => "500", "data-start" => "800", "data-x" => "left", "data-y" => "100", :style => "z-index: 4"}
            Great Support 24-7
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "40", "data-speed" => "500", "data-start" => "1000", "data-x" => "left", "data-y" => "140", :style => "z-index: 4"}
            Get Up & Running Fast
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "40", "data-speed" => "500", "data-start" => "1200", "data-x" => "left", "data-y" => "180", :style => "z-index: 4"}
            Smart Integrated System
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "40", "data-speed" => "500", "data-start" => "1400", "data-x" => "left", "data-y" => "220", :style => "z-index: 4"}
            Easy to Use for You & Your Tenants
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "40", "data-speed" => "500", "data-start" => "1600", "data-x" => "left", "data-y" => "260", :style => "z-index: 4"}
            Real Time information at Your Fingertips
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "40", "data-speed" => "500", "data-start" => "1800", "data-x" => "left", "data-y" => "300", :style => "z-index: 4"}
            Tenants Pay Online | Paypal | App | Bank
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "40", "data-speed" => "500", "data-start" => "2000", "data-x" => "left", "data-y" => "340", :style => "z-index: 4"}
            Secure Online Access, Anytime, Anywhere
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "-20", "data-speed" => "500", "data-start" => "2200", "data-x" => "right", "data-y" => "100", :style => "z-index: 4"}
            Ideal for Landlords, Agents and Offices
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "-20", "data-speed" => "500", "data-start" => "2400", "data-x" => "right", "data-y" => "140", :style => "z-index: 4"}
            Get Organized | Make Better Decisions
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "-20", "data-speed" => "500", "data-start" => "2600", "data-x" => "right", "data-y" => "180", :style => "z-index: 4"}
            Slash Management Time & Costs
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "-20", "data-speed" => "500", "data-start" => "2800", "data-x" => "right", "data-y" => "220", :style => "z-index: 4"}
            Accurately Track Rental Income
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "-20", "data-speed" => "500", "data-start" => "3000", "data-x" => "right", "data-y" => "260", :style => "z-index: 4"}
            Stay On Top of Payments & Renewals
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "-20", "data-speed" => "500", "data-start" => "3200", "data-x" => "right", "data-y" => "300", :style => "z-index: 4"}
            Make Your Properties Work Harder
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-hoffset" => "-20", "data-speed" => "500", "data-start" => "3400", "data-x" => "right", "data-y" => "340", :style => "z-index: 4"}
            = link_to 'Free 3 Month Trial | Click Here', new_user_registration_path(type: User::LANDLORD), class: 'slider_tltle'
          .tp-caption.skewfromrightshort.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-speed" => "500", "data-start" => "1000", "data-x" => "225", "data-y" => "120", :style => "z-index: 9"}
            = image_tag 'demos/SliderPIC-02-Genielets-geniebytes-rightmove-zoopla-rentshare.png', :alt => "Estate agents"
        %li{"data-masterspeed" => "1500", "data-slotamount" => "7", "data-transition" => "boxslide"}
          / MAIN IMAGE
          / LAYERS
          = image_tag 'demos/SliderBG-01-Genielets-geniebytes-rightmove-zoopla-rentshare.png', :alt => "Property", html: {"data-bgfit" => "cover", "data-bgposition" => "left top", "data-bgrepeat" => "no-repeat"}
          / LAYER NR. 1
          .tp-caption.lightgrey_divider.skewfromrightshort.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Power4.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-speed" => "500", "data-start" => "1200", "data-x" => "85", "data-y" => "224", :style => "z-index: 2"}
          / LAYER NR. 3
          .tp-caption.large_bold_grey.skewfromrightshort.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-speed" => "500", "data-start" => "1000", "data-x" => "78", "data-y" => "150", :style => "z-index: 4"}
            %span{style: "font-size:0.7em;"}
              FREE 3 MONTH TRIAL

          / LAYER NR. 7
          .tp-caption.small_thin_grey.customin.customout{"data-captionhidden" => "on", "data-customin" => "x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Power4.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-speed" => "500", "data-start" => "1500", "data-x" => "80", "data-y" => "240", :style => "z-index: 8"}
            Every landlord needs a little help
            %br/

          / LAYER NR. 7
          / LAYER NR. 5
          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Power4.easeOut", "data-endeasing" => "Power1.easeIn", "data-endspeed" => "300", "data-speed" => "800", "data-start" => "4500", "data-x" => "80", "data-y" => "320", :style => "z-index: 6"}
            = link_to 'Try GenieLets FREE today', new_user_registration_path(type: User::LANDLORD), class: 'slider_tltle'

          .tp-caption.medium_bg_asbestos.skewfromleft.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Power4.easeOut", "data-endeasing" => "Power1.easeIn", "data-endspeed" => "300", "data-speed" => "800", "data-start" => "5000", "data-x" => "80", "data-y" => "360", :style => "z-index: 6"}
            No risk, No credit card required
          / LAYER NR. 8
          .tp-caption.skewfromrightshort.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-speed" => "500", "data-start" => "2500", "data-x" => "520", "data-y" => "170", :style => "z-index: 9"}
            = image_tag 'demos/SliderPIC-01-Genielets-geniebytes-rightmove-zoopla-rentshare.png', :alt => "Property to rent"
          / LAYER NR. 8
          .tp-caption.skewfromrightshort.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-speed" => "500", "data-start" => "3000", "data-x" => "480", "data-y" => "120", :style => "z-index: 9"}
            = image_tag 'demos/SliderPIC-02-Genielets-geniebytes-rightmove-zoopla-rentshare.png'
          / LAYER NR. 8
          .tp-caption.skewfromrightshort.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-speed" => "500", "data-start" => "3500", "data-x" => "980", "data-y" => "240", :style => "z-index: 9"}
            = image_tag 'demos/SliderPIC-iPhone-01-Genielets-geniebytes-rightmove-zoopla-rentshare.png'
          / LAYER NR. 8
          .tp-caption.skewfromrightshort.customout{"data-captionhidden" => "on", "data-customout" => "x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;", "data-easing" => "Back.easeOut", "data-endeasing" => "Power4.easeIn", "data-endspeed" => "500", "data-speed" => "500", "data-start" => "4000", "data-x" => "436", "data-y" => "190", :style => "z-index: 9"}
            = image_tag 'demos/SliderPIC-iPad-01-Genielets-geniebytes-rightmove-zoopla-rentshare.png'

%section.colon2
  .container
    .message.text-center
      %h2
        GenieLets offers a simple yet genius way to manage rent payments online
      %p
        Discover more about GenieLets  
        = succeed "," do
          = link_to 'features', features_path
        and it also works on mobile devices too
    .col-lg-4.col-md-4.col-sm-4{"data-effect" => "slide-bottom"}
      .box
        = image_tag 'landlord.png', class: 'active'
        %header
          %h3 Genius for Landlords
        %p 
          Whether you manage a whole property portfolio or simply a few, collecting the rent on time is a headache that all landlords share. The innovative, new 
          = link_to 'GenieLets', root_path 
          web based rent collection system is the solution all landlords with busy lifestyles have been waiting for. 
          Perfect for anyone who wants to be in complete control of managing multiple tenants, GenieLets is ideal for UK private and social landlords, estate agents, lettings agents and commercial rental management companies.
        = link_to 'Sign Up Now as a Landlord', new_user_registration_path(type: User::LANDLORD), class: 'readmore'
    .col-lg-4.col-md-4.col-sm-4{"data-effect" => "slide-bottom"}
      = link_to videos_path do
        = image_tag 'Slider-Video-01-Genielets-geniebytes-rightmove-zoopla-rentshare.png', class: 'home_center', :width => "450px"
    .col-lg-4.col-md-4.col-sm-4{"data-effect" => "slide-bottom"}
      .box
        = image_tag 'tenant.png'
        %header
          %h3 Genius for Tenants
        %p 
          Paying your rent has never been so easy with the innovative, new GenieLets web based rent collection system. You can quickly pay your rent from the comfort of home or on the go, with a simple click. 
          That means no more hassle in terms of writing and positing cheques. The system accepts all major credit and debit cards too. 
          Keep in control of your payments and tenancy contract to keep the landlord smiling, whilst saving your own precious time!
        = link_to 'Sign Up Now as a Tenant', new_user_registration_path(type: User::TENANT), class: 'readmore'
  .container
    .col-lg-12.text-center
      = image_tag 'home2-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;"
      = image_tag 'home3-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;"
      = image_tag 'home4-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;"
      = image_tag 'home5-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;"
      = image_tag 'home6-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;"
%section.colon4
  .container
    .col-lg-3.col-md-3.col-sm-6{"data-effect" => "slide-bottom"}
      .stat
        %span.stat-count 1M+
        %p.stat-detail Rent's Paid
    .col-lg-3.col-md-3.col-sm-6{"data-effect" => "slide-bottom"}
      .stat
        %span.stat-count 921K
        %p.stat-detail Satisfied Landlords
    .col-lg-3.col-md-3.col-sm-6{"data-effect" => "slide-bottom"}
      .stat
        %span.stat-count 6M
        %p.stat-detail Happy Tenants
    .col-lg-3.col-md-3.col-sm-6{"data-effect" => "slide-bottom"}
      .stat
        %span.stat-count 2M+
        %p.stat-detail Contracts Served