= content_for :title, 'Privacy Policy'
= content_for :description, 'Learn how we manage customers data'
%section.colon14
  .singleheader
    .container
      .col-lg-6.col-sm-6.col-md-6
        .single-title
          %h3 Privacy Policy
      .col-lg-6.col-sm-6.col-md-6
        .breadcrumb-container
          %ul.breadcrumb
            %li
    .shadow
  / START CONTENT AND SIDEBAR
  .container.general
    #content.single.col-lg-12.col-md-12.col-sm-12
      %h1.text-center Privacy Policy
      %p This privacy policy provides users with information about the nature, scope, and purpose of the collection and use of personal data by the responsible entity (Geniebytes Limited (hereinafter “Genielets”) on this Website.
      %p Genielets attaches great importance to the protection of their users’ personal data. All personal information (title, name, address, e-mail address, telephone number, and locations) submitted by users is collected, stored, and processed exclusively in accordance with the country-specific legal provisions concerning data protection. In Germany, the relevant legal provisions are set out in the Data Protection Act

      %h4 Server log files
      %p For technical reasons, each time you access the Website, Genielets or its webspace provider collects the
      %ul
        %li Name of the Website accessed
        %li Time
        %li Date
        %li Browser type and operating system used
        %li Page previously visited
        %li IP address
      %p This data is stored for prosecution purposes in the event of illegal activities, and may also be used for statistical analyses for the optimization of our Website.

      %h4 Cookies
      %p Cookies are small text files that enable the recognition of a specific device. They are primarily used to optimize ease-of-use and our Website’s offering. Users can delete cookies in their browser settings and prevent their storage in the future; however, they may not be able to use the full functionality of Genielets.com.

      %h4 Online ordering
      %p After prior registration, users can order a taxi via Genielets.com. Personal data must be collected here in order to provide the service. The nature, scope, and purpose of the collection and use of this data is governed by the privacy policy for the Genielets booking service, which can be viewed at <a href="http://www.geniebytes.com/genielets-privacy-policy/" target="_blank">http://www.geniebytes.com/genielets-privacy-policy/</a>. The same applies for subscription to the newsletter when registering for the Genielets service.

      %h4 Contact
      %p Genielets.com offers its users the option of contacting Genielets via e-mail (optionally via a contact form), telephone, or similar. In this case, information provided by the user is stored for the further processing of queries. This information is not passed on to third parties.

      %h4 Blog
      %p Genielets.com incorporates a blog, on which users can post their comments. For our security, we save the IP addresses of any users posting comments, in order to identify the author in the event of inappropriate comments. This is in the interest of Genielets, since the company itself may be held responsible for any such comments.

      %h4 Google Analytics
      %p Genielets.com uses Google Analytics, a web analytics service provided by Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA (hereinafter “Google”), which stores cookies that provide information about the use of the Website. This data, including the user’s IP address, is transmitted to Google’s servers.
      %p According to statements made by Google, the data that is collected by Google Analytics is not associated with any other data held by Google.
      %p Users can delete cookies in their browser settings and prevent their storage in the future; however, they may not be able to use the full functionality of Genielets.com.
      %p Users can also disable the analytics tool by downloading and installing a browser add-on available from Google: <a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=en</a>

      %h4 Adroll
      %p As you browse www.genielets.com, advertising cookies will be placed on your computer so that we can understand what you are interested in. Our display advertising partner, AdRoll, then enables us to present you with retargeting advertising on other sites based on your previous interaction with www.genielets.com. The techniques our partners employ do not collect personal information such as your name, email address, postal address, or telephone number. You can visit <a href="http://www.networkadvertising.org/choices/" target="_blank">this page</a> to opt out of AdRoll’s and their partners’ targeted advertising.

      %h4 Google+
      %p Genielets.com uses the “+1” button from Google on its Website. Each time a page is called with this button, a link is established with Google’s servers. According to Google, no personal data is collected if the button is not used and the user is also not logged in to Google. Otherwise, data, including the IP address, may be transmitted to Google and associated with a Google account. Information about how data is collected with the “+1” button can be found on Google’s Website: <a href="https://developers.google.com/+/web/buttons-policy" target="_blank">https://developers.google.com/+/web/buttons-policy</a>

      %h4 Facebook
      %p Genielets uses components from Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA (hereinafter “Facebook”) on its Website (e.g. Facebook Connect and Facebook social plug-ins). For each page view of a page with such components, a link is established to Facebook’s servers. This enables Facebook to identify the Website the user in question has visited and to store other data, such as the IP address. If the user is also logged on to Facebook, Facebook may also associate the data with the user’s Facebook account. If the user wants to prevent this, they must log off Facebook before visiting the page.
      %p More information about how Facebook processes data can be found on Facebook’s Website: <a href="https://www.facebook.com/about/privacy/" target="_blank">https://www.facebook.com/about/privacy/</a>.

      %h4 Twitter
      %p Genielets uses buttons from Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, USA (hereinafter “Twitter”) on its Website. For each page view of a page with such a button, a link is established to Twitter’s servers. This enables Twitter to identify the Website the user in question has visited and to store other data, such as the IP address. According to Twitter, such data is stored in this way only for the purpose of displaying the button. More information about how Twitter processes data can be found on Twitter’s Website: <a href="https://twitter.com/privacy" target="_blank">https://twitter.com/privacy</a>

      %h4 Xing
      %p Genielets uses components from XING AG, Dammtorstraße 29-32, 20354 Hamburg, Germany (hereinafter “Xing”) on its Website. For each page view of a page with such a component, a link is established to Xing’s servers. According to information from Genielets, Xing does not store any personal data, and in particular no IP addresses. More information about how Xing processes data can be found on Xing’s Website: https://www.xing.com/app/share?op=data_protection

      %h4 LinkedIn
      %p Genielets uses components from the LinkedIn Corporation, 2029 Stierlin Court, Mountain View, CA 94043, USA (hereinafter “LinkedIn”). For each page view of a page with such a component, a link is established to LinkedIn’s servers. According to LinkedIn, no personal data is collected if the components are not used and the user is also not logged in to LinkedIn. Otherwise, data, including the IP address, may be transmitted to LinkedIn and associated with a LinkedIn account. Information about how LinkedIn collects data can be found on LinkedIn’s Website: <a href="http://www.linkedin.com/legal/privacy-policy" target="_blank">http://www.linkedin.com/legal/privacy-policy</a>

      %h4 Third-party offers
      %p Third-party offers (e.g. YouTube videos) may be included on Genielets.com, whereby the user’s IP address will be transmitted to the third-party provider for technical reasons. We have no influence over how third-party providers store this data. Clarification can be provided only where Genielets has this information itself.

      %h4 Opt-Out
      %p If you want to Opt-out, please send an email with the word “Unsubscribe” to unsubscribe@genielets.com and we will remove your email address from our systems

      %h4 Disclosure, revocation, and deletion
      %p The user has the right to receive free of charge any information about the collection, processing, or use of personal data that is stored about them, and to request the correction, blocking, or deletion of this data, insofar as there is no legal obligation to retain such data.
    .col-lg-12.text-center
      = image_tag 'vacancies2-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Vacancies"
      = image_tag 'vacancies3-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Genielets"
      = image_tag 'vacancies4-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "monitoring"
      = image_tag 'vacancies5-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Software"
      = image_tag 'vacancies6-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Software"
      .clearfix