= content_for :title, "Genielets Pricing- free trial, no credit card required"
= content_for :description, "We have priced Genielets low and we are also currently offering a free 3 month trial, no credit card required, try it now"
%section.colon14
  .singleheader
    .container
      .col-lg-6.col-sm-6.col-md-6
        .single-title
          %h3 Pricing
          %h4 Choose your plan
      .col-lg-6.col-sm-6.col-md-6
        .breadcrumb-container
          %ul.breadcrumb
            %li GO AHEAD AND GIVE GENIELETS A GO - IT ONLY TAKES A MINUTE TO REGISTER!
    .shadow
  .container.general
    #content.single.col-lg-12.col-md-12.col-sm-12
      .col-lg-4.col-md-4.col-sm-12
        .dm-pricing-table
          .dm-pricing
            .dm-pricing-header
              %h5 Standard
              .dm-pricing-cost £3
              .dm-pricing-per per month
            .dm-pricing-content
              %ul
                %li 5 Contracts
                %li Dashboard
                %li Unlimited Tenants
                %li Unlimited Properties
                %li Unlimited Tenant History
                %li Unlimited Property History
            .dm-pricing-button
              %a.btn.btn-general{:href => "#", :rel => "nofollow", :target => "_self"}
                %span.btn.btn-primary Sign Up
      .col-lg-4.col-md-4.col-sm-12
        .dm-pricing-table
          .dm-pricing
            .dm-pricing-header
              %h5 Pro
              .dm-pricing-cost £5
              .dm-pricing-per per month
            .dm-pricing-content
              %ul
                %li 6-10 Contracts
                %li Dashboard
                %li Unlimited Tenants
                %li Unlimited Properties
                %li Unlimited Tenant History
                %li Unlimited Property History
            .dm-pricing-button
              %a.btn.btn-general{:href => "#", :rel => "nofollow", :target => "_self"}
                %span.btn.btn-primary Sign Up
      .col-lg-4.col-md-4.col-sm-12
        .dm-pricing-table
          .dm-pricing
            .dm-pricing-header
              %h5 Enterprise
              .dm-pricing-cost £10
              .dm-pricing-per per month
            .dm-pricing-content
              %ul
                %li 11-unlimited Contracts
                %li Dashboard
                %li Unlimited Tenants
                %li Unlimited Properties
                %li Unlimited Tenant History
                %li Unlimited Property History
            .dm-pricing-button
              %a.btn.btn-general{:href => "#", :rel => "nofollow", :target => "_self"}
                %span.btn.btn-primary Sign Up
      .clearfix
    .col-lg-12.text-center
      = image_tag 'pricing2-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Holiday lettings"
      = image_tag 'pricing3-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "residential property"
      = image_tag 'pricing4-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "commercial property"
      = image_tag 'pricing5-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Tenancy agreement"
      = image_tag 'pricing6-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;"
    .clearfix
