= content_for :title, "Rightmove is to start using Genielets lettings software today"
= content_for :description, "Make the rightmove today and start using Genielets to manage your rent, free 3 month trial, no credit card required, find a property, holiday lettings, property news"
%section.colon14
  .singleheader
    .container
      .col-lg-6.col-sm-6.col-md-6
        .single-title
          %h3 The Rightmove
          %h4 Why choose GenieLets?
      .col-lg-6.col-sm-6.col-md-6
        .breadcrumb-container
          %ul.breadcrumb
            %li
    .shadow
  / START CONTENT AND SIDEBAR
  .container.general
    #content.single.col-lg-12.col-md-12.col-sm-12
      %h2.text-center Rent Management and Payment System – make the rightmove today
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-left"}
        = image_tag 'GenieLets-rightmove-Middle-Rightmove-find-a-property-property-news-flatshare-students-property-to-rent-commercial-property-letting-agents-estate-agents.png', :alt => "Rightmove"
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-bottom"}
        %p As a landlord, once you make the rightmove and find the perfect tenant or tenants for your property, you are likely to discover how difficult it is to manage rent payments, along with everything else you deal with in your daily life!
        %p The first <strong>rightmove</strong> you need to make is to find the right tenants. Once tenants find a property they are comfortable with, the process of managing the relationship between tenant and landlord, as well as ensuring the rent is consistently paid on time begins.
        %p Many landlords and tenants, as well as letting agents, estate agents, holiday lettings agencies and commercial property agencies are highly recommending our simple to use, ‘genius’ GenieLets application.
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-right"}
        %p GenieLets is brought to you by GenieBytes, an innovative new company that believes in utilising software and modern mobile technologies to enhance quality of life for people with busy lifestyles.
        %p By using technology to tackle real-life issues, we want to alleviate the problems that can arise when managing properties by using less reliable and unsophisticated rent management systems and processes.\
        %p Find out why GenieLets continues to make property news, impressing landlords, tenants and estate agents alike with its efficiency. Make the <strong>rightmove</strong> and move all your rent management requirements to GenieLets – you won’t regret it!
      .clearfix
    .col-lg-12.text-center
      = image_tag 'rightmove2-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Find a property"
      = image_tag 'rightmove3-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Holiday Lettings"
      = image_tag 'rightmove4-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Property news"
      = image_tag 'rightmove5-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Find a property"
      = image_tag 'rightmove6-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Find a property"
    .clearfix