= content_for :title, "Take a look at what our clients say about us"
= content_for :description, "Genielets, the rent management and payment system for residential and commercial landlords"
%section.colon14
  .singleheader
    .container
      .col-lg-6.col-sm-6.col-md-6
        .single-title
          %h3 Testimonials
          %h4
      .col-lg-6.col-sm-6.col-md-6
        .breadcrumb-container
          %ul.breadcrumb
            %li
    .shadow
  / START CONTENT AND SIDEBAR
  .container.general
    #content.single.col-lg-12.col-md-12.col-sm-12
      %h1.text-center What they say about Genielets?
      .col-lg-6.col-md-6.col-sm-12{"data-effect" => "slide-bottom"}
        .team-box
          .team-main-container
            %p.center
              %span.team-container
                -#%img{:alt => "", :src => "demos/01_team.png"}
          %h3 Kate Hindley
          %span currently manages 10 properties with GenieLets
          %p “I was looking for an easier way to manage my multiple properties before I came across GenieLets. The manual methods I was using were difficult to keep on top of and confusing at times. GenieLets was the perfect answer and the bonus is that many of my tenants love it too!”
          %span
      .col-lg-6.col-md-6.col-sm-12{"data-effect" => "slide-bottom"}
        .team-box
          .team-main-container
            %p.center
              %span.team-container
                -#%img{:alt => "", :src => "demos/01_team.png"}
          %h3 James Hargreaves
          %span Bristol based lettings agency on GenieLets
          %p “We’ve tried different systems here at our lettings agency but none have been as simple, informative and easy to use as GenieLets. The application certainly helps with more complicated tasks and makes our working lives more efficient.”
          %span
      .col-lg-6.col-md-6.col-sm-12{"data-effect" => "slide-bottom"}
        .team-box
          .team-main-container
            %p.center
              %span.team-container
                -#%img{:alt => "", :src => "demos/01_team.png"}
          %h3 Vic Pridmore
          %span a London based landlord
          %p “The properties we manage are quite some distance away from where I’m based and the GenieLets system has made communication so much easier. We can see which tenants are and are not paying on time, which really helps us to manage our property portfolio more pro-actively.”
          %span
      .col-lg-6.col-md-6.col-sm-12{"data-effect" => "slide-bottom"}
        .team-box
          .team-main-container
            %p.center
              %span.team-container
                -#%img{:alt => "", :src => "demos/01_team.png"}
          %h3 Dave Edwards
          %span Birmingham based commercial office management company
          %p “We manage many commercial offices in various locations, where our methods of monitoring rent collection must be accurate and timely. Having tried other systems before, the GenieLets application has proven to be the best by far.”
          %span
      .clearfix
    .col-lg-12.text-center
      = image_tag 'testimonials2-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "tenants"
      = image_tag 'testimonials3-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "commercial"
      = image_tag 'testimonials4-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "offices"
      = image_tag 'testimonials5-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "monitoring"
      = image_tag 'testimonials6-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "tenants"
    .clearfix
