= content_for :title, "Work for Genielets"
= content_for :description, "Genielets – our current vacancy, join the Talent"
%section.colon14
  .singleheader
    .container
      .col-lg-6.col-sm-6.col-md-6
        .single-title
          %h3 Vacancies
          %h4 Latest vacancies
      .col-lg-6.col-sm-6.col-md-6
        .breadcrumb-container
          %ul.breadcrumb
            %li
    .shadow
  / START CONTENT AND SIDEBAR
  .container.general
    #content.single.col-lg-12.col-md-12.col-sm-12
      .col-lg-4.col-md-4.col-sm-6{"data-effect" => "slide-left"}
        = image_tag 'GenieLets-rightmove-Middle-Rightmove-find-a-property-property-news-flatshare-students-property-to-rent-commercial-property-letting-agents-estate-agents.png', :alt => "Software"
      .col-lg-8.col-md-8.col-sm-6{"data-effect" => "slide-bottom"}
        %p Want to work for GenieLets?
        %p We’re always looking for talented people to get on board with us. View our latest vacancies here:
        %p
          Software Developer<br/>
          Tester<br/>
          UI Expert<br/>
        %p
          Please email at <a href="mailto:vacancies@genielets.com">vacancies@genielets.com</a>
      .clearfix
    .col-lg-12.text-center
      = image_tag 'vacancies2-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Vacancies"
      = image_tag 'vacancies3-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Genielets"
      = image_tag 'vacancies4-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "monitoring"
      = image_tag 'vacancies5-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Software"
      = image_tag 'vacancies6-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Software"
      .clearfix