= content_for :title, "Video – watch the video, learn more about genielets"
= content_for :description, "Learn more about the Genielets video, and find out why millions around make it their number 1 choice for property management and payment collection"
%section.colon14
  .singleheader
    .container
      .col-lg-6.col-sm-6.col-md-6
        .single-title
          %h3 Videos
      .col-lg-6.col-sm-6.col-md-6
        .breadcrumb-container
          %ul.breadcrumb
            %li
    .shadow
  / START CONTENT AND SIDEBAR
  .container.general
    #content.single.col-lg-12.col-md-12.col-sm-12.embed-container.text-center
      %iframe{"src" => 'http://player.vimeo.com/video/108232552', "frameborder" => '1px', "webkitAllowFullScreen" => true, "mozallowfullscreen" => true,  "allowFullScreen" => true}
      .clearfix
    .col-lg-12.text-center
      = image_tag 'videos2-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Genielets"
      = image_tag 'videos3-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "video"
      = image_tag 'videos4-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Paypal"
      = image_tag 'videos5-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Genielets"
      = image_tag 'videos6-genielets-small-logo.png', style: "width:12%; margin: 0px 20px;", :alt => "Genielets"
    .clearfix
