.row
  .col-sm-12
    .page-header
      %h1
        List of Contracts
        %small Manage Contracts
.row
  .col-sm-12
    = render 'shared/messages'
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %i.fa.fa-external-link-square
        Active Contracts
        .panel-tools
          %a.btn.btn-xs.btn-link.panel-collapse.collapses{:href => "#"}
          %a.btn.btn-xs.btn-link.panel-refresh{:href => "#"}
            %i.fa.fa-refresh
      .panel-body
        %table#active-contracts-table.table.table-striped.table-bordered.table-hover.table-full-width
          %thead
            %tr
              %th Property Name
              %th Room Number
              %th Rental Amount
              %th Tenant Name
              %th Contact Period
              %th Pay Date
              %th Actions
          %tbody
            - @active_contracts.each do |p|
              %tr
                %td= p.property.name
                %td= p.room_number
                %td= p.rental_amount
                %td= p.tenant_info(current_user)[:name]
                %td= p.period
                %td= p.pay_date
                %td
                  - if p.paused
                    %span You contract is paused.
                    %br
                    %span Please
                    = link_to 'upgrade', account_summary_path
                    %span subscription plan.
                  - else
                    = link_to edit_contract_path(p), class: 'btn btn-purple' do
                      %i.fa.fa-pencil
                    = link_to contract_path(p), class: 'btn btn-blue' do
                      %i.fa.fa-eye
                    = link_to contract_path(p), class: 'btn btn-danger', method: :delete, 'data-confirm' => 'Are you sure?' do
                      %i.fa.fa-times.fa-white
    .panel.panel-default
      .panel-heading
        %i.fa.fa-external-link-square
        Finished Contracts
        .panel-tools
          %a.btn.btn-xs.btn-link.panel-collapse.collapses{:href => "#"}
          %a.btn.btn-xs.btn-link.panel-refresh{:href => "#"}
            %i.fa.fa-refresh
      .panel-body
        %table#finished-contracts-table.table.table-striped.table-bordered.table-hover.table-full-width
          %thead
            %tr
              %th Property Name
              %th Room Number
              %th Rental Amount
              %th Tenant Name
              %th Contact Period
              %th Finished At
          %tbody
            - @finished_contracts.each do |p|
              %tr
                %td= p.property.name
                %td= p.room_number
                %td= p.rental_amount
                %td= p.tenant_info(current_user)[:name]
                %td= p.period
                %td= p.finished_at
