.col-lg-2.col-md-2.col-sm-2
  = link_to root_path, class: 'cssLogo' do
    = image_tag 'GenieLets-rightmove-Top-Home-find-a-property-property-news-flatshare-students-property-to-rent-commercial-property-letting-agents-estate-agents.png'
.col-lg-10.col-md-10.col-sm-12
  %nav
    %ul#jetmenu.jetmenu
      %li{class: "#{visitor_status_class('home')}"}
        = link_to 'Home', root_path
      %li{class: "#{visitor_status_class('app')}"}
        %a{href: "#"} App
        %ul.dropdown
          %li
            = link_to 'Features', features_path
          %li
            = link_to 'Pricing', pricing_path
          %li
            = link_to 'Instructions', instruction_path
          %li
            = link_to 'Register', new_user_registration_path(type: User::LANDLORD)
      %li{class: "#{visitor_status_class('about')}"}
        %a{href: "#"} About
        %ul.dropdown
          %li
            = link_to 'About Us', about_path
          %li
            = link_to 'Rightmove', rightmove_path
          %li
            = link_to 'Testimonials', testimonials_path
      %li{class: "#{visitor_status_class('vacancies')}"}
        = link_to 'Vacancies', vacancies_path
      %li{class: "#{visitor_status_class('videos')}"}
        = link_to 'Videos', videos_path
      %li{class: "#{visitor_status_class('contactus')}"}
        = link_to 'Contact Us', contactus_path