!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Genielets'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Genielets2'}"}

    = stylesheet_link_tag '/clipone/plugins/bootstrap/css/bootstrap.min', media: 'all'
    = stylesheet_link_tag '/clipone/plugins/font-awesome/css/font-awesome.min', media: 'all'
    = stylesheet_link_tag '/clipone/fonts/style.css', media: 'all'
    = stylesheet_link_tag '/clipone/css/main', media: 'all'
    = stylesheet_link_tag '/clipone/css/main-responsive', media: 'all'
    = stylesheet_link_tag '/clipone/plugins/iCheck/skins/all', media: 'all'
    = stylesheet_link_tag '/clipone/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette', media: 'all'
    = stylesheet_link_tag '/clipone/plugins/perfect-scrollbar/src/perfect-scrollbar', media: 'all'
    = stylesheet_link_tag '/clipone/css/theme_light', media: 'all'
    = stylesheet_link_tag '/clipone/plugins/fullcalendar/fullcalendar/fullcalendar', media: 'all'
    = stylesheet_link_tag '/clipone/plugins/bootstrap-fileupload/bootstrap-fileupload.min', media: 'all'
    = stylesheet_link_tag '/clipone/plugins/select2/select2', media: 'all'
    = stylesheet_link_tag '/clipone/plugins/DataTables/media/css/DT_bootstrap', media: 'all'
    = stylesheet_link_tag '/clipone/plugins/datepicker/css/datepicker', media: 'all'
    = stylesheet_link_tag 'dashboard'
    = stylesheet_link_tag 'cookies_eu'
    -#= javascript_include_tag 'jquery'
    = javascript_include_tag 'cookies_eu'
    = javascript_include_tag 'jquery_ujs'
    = javascript_include_tag 'jquery.turbolinks'
    = javascript_include_tag '/clipone/plugins/jquery-ui/jquery-ui-1.10.2.custom.min'
    = javascript_include_tag '/clipone/plugins/bootstrap/js/bootstrap.min'
    = javascript_include_tag '/clipone/plugins/blockUI/jquery.blockUI.js'
    = javascript_include_tag '/clipone/plugins/iCheck/jquery.icheck.min'
    = javascript_include_tag '/clipone/plugins/perfect-scrollbar/src/jquery.mousewheel'
    = javascript_include_tag '/clipone/plugins/perfect-scrollbar/src/perfect-scrollbar'
    = javascript_include_tag '/clipone/plugins/less/less-1.5.0.min'
    = javascript_include_tag '/clipone/plugins/jquery-cookie/jquery.cookie'
    = javascript_include_tag '/clipone/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette'
    = javascript_include_tag '/clipone/plugins/flot/jquery.flot'
    = javascript_include_tag '/clipone/plugins/flot/jquery.flot.pie'
    = javascript_include_tag '/clipone/plugins/flot/jquery.flot.resize.min'
    = javascript_include_tag '/clipone/plugins/flot/jquery.flot.categories'
    = javascript_include_tag '/clipone/plugins/jquery.sparkline/jquery.sparkline'
    = javascript_include_tag '/clipone/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart'
    = javascript_include_tag '/clipone/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min'
    = javascript_include_tag '/clipone/plugins/fullcalendar/fullcalendar/fullcalendar'
    = javascript_include_tag '/clipone/plugins/bootstrap-fileupload/bootstrap-fileupload.min'
    = javascript_include_tag '/clipone/plugins/select2/select2.min'
    = javascript_include_tag '/clipone/plugins/DataTables/media/js/jquery.dataTables.min'
    = javascript_include_tag '/clipone/plugins/DataTables/media/js/DT_bootstrap'
    = javascript_include_tag '/clipone/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
    = javascript_include_tag '/clipone/js/main'
    = javascript_include_tag 'dashboard'
    = javascript_include_tag 'users'
    = javascript_include_tag 'properties'
    = javascript_include_tag 'contracts'
    = javascript_include_tag 'payments'
    = javascript_include_tag 'private_payments'

    = csrf_meta_tags
  %body
    = render 'shared/app_header'
    .main-container
      .navbar-cotent
        = render 'shared/app_sidebar'
      .main-content
        .container
          = render 'shared/app_page_header'
          = yield
    .footer.clearfix
      .footer-inner
        2014 &copy;
        = link_to 'GenieLets', root_path
    = render 'cookies_eu/cookies_eu'
    :javascript
      $(document).ready(function() {
        Main.init();
      });

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49629061-1', 'auto');
      ga('send', 'pageview');

    :javascript
      // BEGIN LivePerson Monitor
      window.lpTag=window.lpTag||{};if(typeof window.lpTag._tagCount==='undefined'){window.lpTag={site:'41708524'||'',section:lpTag.section||'',autoStart:lpTag.autoStart===false?false:true,ovr:lpTag.ovr||{},_v:'1.5.1',_tagCount:1,protocol:location.protocol,events:{bind:function(app,ev,fn){lpTag.defer(function(){lpTag.events.bind(app,ev,fn);},0);},trigger:function(app,ev,json){lpTag.defer(function(){lpTag.events.trigger(app,ev,json);},1);}},defer:function(fn,fnType){if(fnType==0){this._defB=this._defB||[];this._defB.push(fn);}else if(fnType==1){this._defT=this._defT||[];this._defT.push(fn);}else{this._defL=this._defL||[];this._defL.push(fn);}},load:function(src,chr,id){var t=this;setTimeout(function(){t._load(src,chr,id);},0);},_load:function(src,chr,id){var url=src;if(!src){url=this.protocol+'//'+((this.ovr&&this.ovr.domain)?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site;}var s=document.createElement('script');s.setAttribute('charset',chr?chr:'UTF-8');if(id){s.setAttribute('id',id);}s.setAttribute('src',url);document.getElementsByTagName('head').item(0).appendChild(s);},init:function(){this._timing=this._timing||{};this._timing.start=(new Date()).getTime();var that=this;if(window.attachEvent){window.attachEvent('onload',function(){that._domReady('domReady');});}else{window.addEventListener('DOMContentLoaded',function(){that._domReady('contReady');},false);window.addEventListener('load',function(){that._domReady('domReady');},false);}if(typeof(window._lptStop)=='undefined'){this.load();}},start:function(){this.autoStart=true;},_domReady:function(n){if(!this.isDom){this.isDom=true;this.events.trigger('LPT','DOM_READY',{t:n});}this._timing[n]=(new Date()).getTime();},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],ev:lpTag.ev||[]};lpTag.init();}else{window.lpTag._tagCount+=1;}
